<div class="container">
    <h3>Hello NAME,</h3>
    <p>Have a great day</p>
    <h5 class="mt-4">Here are your projects</h5>

    <div class="card card-form mt-3">
        <div class="row">
            <div class="col-lg-4 card-body">
                <h4><strong class="headings-color ml-3">Project's name</strong></h4>
                <p class="text-muted ml-3">Description of the project</p>
                <button class="btn btn-dark ml-3">DONE</button>
            </div>

            <div class="col-lg-8 card-form__body border-left">
                <div class="table-responsive border-bottom" data-toggle="lists">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th style="width: 20px;">Status</th>
                                <th style="width: 120px;">Task name</th>
                                <th style="width: 120px;">Deadline</th>
                                <th style="width: 74px;">More</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <td>Task A</td>
                                <td>01/01/0001</td>
                                <td>
                                    <button class="btn btn-danger">MORE</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <td>Task B</td>
                                <td>01/01/0001</td>
                                <td>
                                    <button class="btn btn-danger">MORE</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <td>Task C</td>
                                <td>01/01/0001</td>
                                <td>
                                    <button class="btn btn-danger">MORE</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <td>Task D</td>
                                <td>01/01/0001</td>
                                <td>
                                    <button class="btn btn-danger">MORE</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-form mt-3">
        <div class="row">
            <div class="col-lg-4 card-body">
                <h4><strong class="headings-color ml-3">Project's name</strong></h4>
                <p class="text-muted ml-3">Description of the project</p>
                <button class="btn btn-dark ml-3">DONE</button>
            </div>

            <div class="col-lg-8 card-form__body border-left">
                <div class="table-responsive border-bottom" data-toggle="lists">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th style="width: 37px;">Status</th>
                                <th style="width: 120px;">Task name</th>
                                <th style="width: 120px;">Deadline</th>
                                <th style="width: 74px;">More</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <td>Task A</td>
                                <td>01/01/0001</td>
                                <td>
                                    <button class="btn btn-danger">MORE</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <td>Task B</td>
                                <td>01/01/0001</td>
                                <td>
                                    <button class="btn btn-danger">MORE</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <td>Task C</td>
                                <td>01/01/0001</td>
                                <td>
                                    <button class="btn btn-danger">MORE</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <td>Task D</td>
                                <td>01/01/0001</td>
                                <td>
                                    <button class="btn btn-danger">MORE</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>