<!-- <app-login-page></app-login-page>
<app-home-page></app-home-page> -->
<div>
    <!-- As a link -->
    <nav class="navbar navbar-light bg-light">
        <a href=# class="navbar-brand " style="min-width: 0;">
            <img class="navbar-brand-icon" style="width: 100px;" src="../assets/images/istockphoto-1008253454-1024x1024.jpeg"/>
            <span style="font-size: 50px; font-weight: bold;">GIRA</span>
        </a>
    </nav>
    <!-- <app-login-page></app-login-page> -->
    <app-home-page></app-home-page>
</div>