<div class="layout__login">
    <div class="row">
        <div class="col-xl-5 col-md-7 col-sm-12">
            <div class="layout__login-form mt-2 mb-5 navbar-light">
                
            </div>

            <h2 style="margin-left: 7%;">WELCOME BACK!</h2>
            <p style="margin-left: 7%;">Login to access your account</p>

            <form>
                <div class="form-group">
                    <label class="text-label" style="margin-left: 7%;">email address:</label>
                    <div class="input-group input-group-merge" style="margin-left: 7%">
                        <input style="height: 30px;" type="email" required="" class="form-control form-control-prepended" placeholder="abc@xyz.com"/>
                    </div>
                    <br/>
                    <label class="text-label" style="margin-left: 7%">password:</label>
                    <div class="input-group input-group-merge" style="margin-left: 7%;">
                        <input style="height: 30px;" type="password" required="" class="form-control form-control-prepended" placeholder="*********"/>
                    </div>
                </div>
                <input type="checkbox" style="margin-left: 7%;">
                <span> Remember me</span>
            </form>

            <button class="btn btn-dark" style="margin-left: 7%;" routerLinkActive="/homepage">Log in</button>

        </div>
        <div class="col-xl-7 col-md-5 col-sm-0">
            <div class="layout__login-overlay"></div>
        </div>
    </div>
</div>