.layout__login-form{
    display: flex;
    margin: 3% 7%;
}

.text-label{
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgba(147, 159, 173, 0.84);
    line-height: 0.9375rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control-prepended{
    border-radius: 0.25rem;
}

.input-group{
    width: 50%;
}

.layout__login-overlay{
    background-image: url("../../../assets/images/gira_logi.png");
    background-size: cover;
    background-repeat: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(26, 49, 66, 0.5);
    z-index: -1;

}